extends layout

base_url="http://cogcomp.cs.illinois.edu/software/doc/apidocs/"
script(src='/javascripts/replace_content.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  

block content
	div.container
		.container
			.row
				.col-md-4
					h2 Edison Search Interface
					#custom-search-input
						.input-group.col-md-12
							input#search.form-control.input-lg(type='text', placeholder='Keyword or Description')
							span.input-group-btn
								button.btn.btn-info.btn-lg(type='button')
									i.glyphicon.glyphicon-search
					.row
						.col-md-6
							table#table.table
								thead
									tr
										th Class Name
										th Description
										th Example
								tbody
								.col-md-6
								- var data2=data
								- var c=-1
								- for d in data
									- c= c+1
									- var e= d.testcode
									tr
										td
											a(href='#{d.javadoc_url}') #{d.name}	
										td(colspan="10")= d.description
										td
											button(type="button" class="btn btn-success" onclick= 'hey(#{c})') Example
											
				.col-md-12
					.row
						h2 Sample Code
							.div(style="margin-top:40px")
								.div(class="panel-body-code")
									pre(style="margin:20px")
										code(class="language-clike")
										p#alert= "Sample Code goes here"
									
								
	script.
		function hey(i)
		{
			var arr = !{JSON.stringify(data2)};
			document.getElementById("alert").innerHTML = !{JSON.stringify(data2)}[i]["testcode"];
	
		}
		$(document).ready(function() {
		$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
		

Status API Training Shop Blog About